<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  $for(css)$
  <link rel="stylesheet" href="$css$">
  $endfor$
</head>

<body>
  <article>
    <section>
      <h1>$title$</h1>
      $if(subtitle)$
      <p class="subtitle">$subtitle$</p>
      $endif$
      $if(author)$
      <p class="attribution"><em class="written">Author</em> $for(author)$$author$$sep$, $endfor$</p>
      $endif$
      $if(date)$
      <p class="attribution"><em class="written">Date</em> $date$</p>
      $endif$

      <p class="text-link">Go back <a href="index.html" class="page-link">home</a> <br>
        Download the <a href="$filename$.pdf" class="page-link">$filename$.pdf</a>
      </p>


      $body$

      <footer class="reform-copyright">© Reform Chinese Culture</footer>
    </section>
  </article>
</body>

</html>